.banner {
    height: 15rem;
    background-image: url("https://plus.unsplash.com/premium_photo-1673329273026-2199d44d9bf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        color: #fff;
        text-shadow: #474747 3px 5px 2px;
    }
}